<form action="<%= session_url %>" method="post">
  <%= auth_token %>

  <label for="user_email">Email:</label>
  <input id="user_email" name="user[email]" value="<%= @user.email %>" type="email">
  <a href="<%= new_reset_password_url %>">reset password</a>

  <label for="user_password">Password:</label>
  <input id="user_password" name="user[password]" type="password">

  <input type="submit" value="Sign in">

</form>

