<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reset instructions</h1>
    <p>
      To reset your password, follow this link:
      <a href="<%= reset_password_url %>">Reset Password</a>
    </p>
    Enjoy!
  </body>
</html>