<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reset instructions</h1>
    <p>
      To reset your password, follow this link:
      <a href="<%= edit_reset_password_url(reset_password_token:
                                            @user.reset_password_token) %>">
        Reset Password
      </a>
    </p>
    Enjoy!
  </body>
</html>