<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" id="user_email" name="user[email]" value="<%= @user.email %>" type="email">

  <label for="user_password">New Password:</label>
  <input id="user_password" name="user[password]" type="password">

  <input type="submit" value="Reset Password">

</form>