<form action="<%= reset_password_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <input type="hidden" name="user[email]" value="<%= @user.email %>">

  <label for="user_password">Password:</label>
  <input id="user_password" name="user[password]" type="password">

  <input type="submit" value="Change Password">

</form>

